In [9]:
import pandas as pd
from util import association_rules, powerset
from apriori import apriori

In [10]:
odf = pd.read_csv("../../data/ibm.csv")
df = odf.groupby(['transaction_id']).item_id.apply(tuple).reset_index(name='item')
df["length"] = df.item.apply(lambda x: len(x))

In [11]:
df.item.value_counts().sum()

828

In [12]:
all_subset_lists = df.item.apply(lambda x: tuple(powerset(x))).unique()
all_subsets = []
len_subsets = {}
for subsets in all_subset_lists:    
    all_subsets = all_subsets + list((set(subsets) - set(all_subsets)))
    
for subsets in all_subsets:
    try:
        len_subsets[len(subsets)].append(subsets)
    except:
        len_subsets[len(subsets)] = [subsets]

In [13]:
result = apriori(df, 0.1, 15)

100%|██████████| 818/818 [00:00<00:00, 323826.40it/s]
100%|██████████| 4249/4249 [00:00<00:00, 318510.14it/s]
100%|██████████| 11426/11426 [00:00<00:00, 290701.14it/s]
100%|██████████| 20097/20097 [00:00<00:00, 317277.16it/s]
100%|██████████| 25548/25548 [00:00<00:00, 424900.49it/s]
100%|██████████| 24645/24645 [00:00<00:00, 461362.02it/s]
100%|██████████| 18556/18556 [00:00<00:00, 461222.81it/s]
100%|██████████| 11093/11093 [00:00<00:00, 437682.63it/s]
100%|██████████| 5299/5299 [00:00<00:00, 404315.31it/s]
100%|██████████| 2004/2004 [00:00<00:00, 391039.09it/s]
100%|██████████| 581/581 [00:00<00:00, 359741.75it/s]
100%|██████████| 121/121 [00:00<00:00, 285439.14it/s]
100%|██████████| 16/16 [00:00<00:00, 143089.26it/s]
100%|██████████| 1/1 [00:00<00:00, 21290.88it/s]

In [14]:
result

                        itemsets   support
0                         (307,)  0.138889
1                         (723,)  0.141304
2                         (470,)  0.212560
3                         (443,)  0.190821
4                         (973,)  0.158213
..                           ...       ...
3        (3, 111, 451, 488, 523)  0.355072
4        (3, 111, 487, 488, 523)  0.355072
5        (3, 451, 487, 488, 523)  0.352657
6        (3, 111, 451, 487, 523)  0.357488
0   (3, 111, 451, 487, 488, 523)  0.342995

[116 rows x 2 columns]

In [15]:
association_rules(result, metric="support", min_threshold=0.1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift
0,(443),(723),0.190821,0.141304,0.124396,0.651899,4.613437
1,(723),(443),0.141304,0.190821,0.124396,0.880342,4.613437
2,(307),(443),0.138889,0.190821,0.123188,0.886957,4.648101
3,(443),(307),0.190821,0.138889,0.123188,0.645570,4.648101
4,(443),(973),0.190821,0.158213,0.123188,0.645570,4.080394
...,...,...,...,...,...,...,...
827,(451),"(3, 487, 488, 523, 111)",0.404589,0.355072,0.342995,0.847761,2.387572
828,(487),"(3, 451, 488, 523, 111)",0.404589,0.355072,0.342995,0.847761,2.387572
829,(488),"(3, 451, 487, 523, 111)",0.403382,0.357488,0.342995,0.850299,2.378540
830,(523),"(3, 451, 487, 488, 111)",0.411836,0.351449,0.342995,0.832845,2.369743
831,(111),"(3, 451, 487, 488, 523)",0.404589,0.352657,0.342995,0.847761,2.403926