In [1]:
import pandas as pd
from fpgrowth import fpgrowth
from util import association_rules

In [2]:
odf = pd.read_csv("../../data/ibm.csv")
df = odf.groupby(['transaction_id']).item_id.apply(tuple).reset_index(name='item')
df["length"] = df.item.apply(lambda x: len(x))
df

     transaction_id                                    item  length
0                 1               (307, 443, 470, 723, 973)       5
1                 2  (3, 111, 451, 487, 488, 523, 647, 764)       8
2                 3                              (595, 764)       2
3                 4            (3, 111, 451, 487, 488, 523)       6
4                 5               (307, 443, 470, 723, 973)       5
..              ...                                     ...     ...
823             824                         (402, 705, 961)       3
824             825            (3, 111, 451, 487, 488, 523)       6
825             826               (307, 443, 470, 723, 973)       5
826             827      (26, 238, 402, 570, 628, 705, 961)       7
827             828            (3, 111, 451, 487, 488, 523)       6

[828 rows x 3 columns]

In [3]:
res_df = fpgrowth(df, min_support=0.1)
association_rules(res_df)

fpgrowth takes 6 ms.

        from           to  from_support  to_support   support  confidence
0       (18)         (21)      0.190821    0.212560  0.172705    0.905063
1       (21)         (18)      0.212560    0.190821  0.172705    0.812500
2       (50)         (21)      0.158213    0.212560  0.143720    0.908397
3       (21)         (50)      0.212560    0.158213  0.143720    0.676136
4       (50)         (18)      0.158213    0.190821  0.123188    0.778626
..       ...          ...           ...         ...       ...         ...
827  (9, 27)      (32, 1)      0.121981    0.126812  0.115942    0.950495
828     (32)   (1, 27, 9)      0.222222    0.117150  0.115942    0.521739
829      (1)  (32, 9, 27)      0.129227    0.120773  0.115942    0.897196
830     (27)   (32, 1, 9)      0.141304    0.118357  0.115942    0.820513
831      (9)  (32, 1, 27)      0.147343    0.124396  0.115942    0.786885

[832 rows x 6 columns]